.about-main {
    font-size: 1.5vw;
    width: 75vw;
    text-align: justify;
}

.about-column {
    width: 35vw;
    font-size: 1vw;
    margin-top: 0;
    text-align: justify;
}

#about-content {
    margin-top: 20px;
}

/** Widescreen **/
@media screen and (min-width: 1920px) {
    .about-main {
        font-size: 1vw;
    }
    .about-column {
        font-size: 0.8vw;
    }
}

/** Mobile **/
@media screen and (max-width: 768px) {
    .about-main {
        font-size: 4vw;
    }
    .about-column {
        display: none;
    }
}