.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100%;
    position: absolute;
    top: 8vh;
    background-image: url(../assets/wave.svg);
    background-repeat: no-repeat;
    background-position: center 60vh;
    background-size: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-15vh);
}

.title {
    font-family: "Poppins", sans-serif;
    color: #1A144F;
    font-size: 5vw;
    width: 60vw;
    text-align: center;
    line-height: 5.5vw;
    margin-top: 30px;
}

.subtitle {
    font-family: "Rubik", sans-serif;
    color: #B4B4B4;
    font-size: 3vw;
    width: 45vw;
    text-align: center;
    margin-top: 10px;
}

.hack3 {
    width: 15vw;
}

.register {
    background-color: white;
    border: 4px solid #71A1E8;
    font-family: "Inter", sans-serif;
    font-size: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 50px;
    transition-duration: 0.4s;
    margin-top: 20px;
    cursor: pointer;
}

.register:hover {
    background-color: #71A1E8;
}

.register:hover .register-link {
    color: white;
}

.register-link {
    color: #1A144F;
    text-decoration: none;
    transition-duration: 0.4s;
}

/* Widescreen */
@media screen and (min-width: 1920px) {
    .content {
        transform: translateY(-10vh);
    }
    .title {
        font-size: 4vw;
        line-height: 4.5vw;
        margin-top: 30px;
        width: 50vw;
    }
    
    .subtitle {
        font-size: 2vw;
        width: 45vw;
        text-align: center;
    }
    
    .hack3 {
        width: 10vw;
    }
    
    .register {
        font-size: 1vw;
        padding-top: 0.3vw;
        padding-bottom: 0.3vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .title {
        font-size: 10vw;
        line-height: 11vw;
        margin-top: 10px;
    }
    
    .subtitle {
        font-size: 5vw;
        width: 50vw;
        text-align: center;
    }
    
    .hack3 {
        width: 25vw;
    }
    
    .register {
        font-size: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-right: 3vw;
    }
}