nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
    font-family: "Inter", sans-serif;
    position: relative;
    z-index: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 300px;
    text-decoration: none;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #D7D7D7;
    text-decoration: none;
    letter-spacing: 1px;
}

nav .logo-img {
    height: 4vh;
    margin-left: 20px;
    margin-right: 10px;
}

.burger {
    display: none;
    cursor: pointer;
    margin-left: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        left: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
    
    nav .logo {
        margin: auto;
    }

    nav .logo-img {
        transform: translateX(-50%);
        margin: 0;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(45deg) translate(5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translate(5px, -6px);
}