#sponsors-subtitle {
    font-size: 2vw;
    text-align: center;
    width: 80vw;
    margin-bottom: 10px;
}

#nexus-bytes {
    height: 5vw;
}

#dash-cloud {
    height: 2vw;
}

#sticker-mule {
    height: 10vw;
}

#ekaru {
    height: 4vw;
    margin-right: 30px;
}

#echoAR {
    height: 5vw;
    margin-left: 30px;
    margin-right: 30px;
}

#fluidstack {
    height: 4vw;
    margin-left: 30px;
    margin-right: 30px;
}

#balsamiq {
    height: 4vw;
    margin-left: 30px;
}

/** Widescreen **/
@media screen and (min-width: 1920px) {
    #sponsors-subtitle {
        font-size: 1.5vw;
    }
}

/** Mobile **/
@media screen and (max-width: 768px) {
    #sponsors-subtitle {
        font-size: 5vw;
    }
    
    #nexus-bytes {
        height: 15vw;
        margin-bottom: 10px;
    }

    #dash-cloud {
        height: 6vw;
        margin-top: 10px;
    }
    
    #sticker-mule {
        height: 30vw;
    }
    
    #ekaru {
        height: 12vw;
        margin-bottom: 10px;
        margin-right: 0;
    }

    #echoAR {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 30vw;
        margin-left: 0;
        margin-right: 0;
    }

    #fluidstack {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 13vw;
        margin-left: 0;
    }

    #balsamiq {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        height: 15vw;
    }
}