#sponsors-subtitle {
    font-size: 2vw;
    text-align: center;
    width: 80vw;
    margin-bottom: 10px;
}

.sponsor {
    margin: 2vw;
}

#nexus-bytes {
    height: 5vw;
}

#dash-cloud {
    height: 2vw;
}

#sticker-mule {
    height: 3vw;
}

#ekaru {
    height: 4vw;
}

#echoAR {
    height: 3vw;
}

#fluidstack {
    height: 4vw;
}

#balsamiq {
    height: 4vw;
}

#ktbyte {
    height: 4vw;
}

#replit {
    height: 4vw;
}

#aws {
    height: 5vw;
}

#netapp {
    height: 3.5vw;
}

#postman {
    height: 4vw;
}

#wolfram {
    height: 5vw;
}

#amazon {
    height: 4vw;
}

/** Widescreen **/
@media screen and (min-width: 1920px) {
    #sponsors-subtitle {
        font-size: 1.5vw;
    }
}

/** Mobile **/
@media screen and (max-width: 768px) {
    .sponsor {
        margin: 4vw;
        margin-left: 0;
        margin-right: 0;
    }
    #sponsors-subtitle {
        font-size: 5vw;
    }
    
    #nexus-bytes {
        height: 15vw;
    }

    #dash-cloud {
        height: 6vw;
    }
    
    #sticker-mule {
        height: 9vw;
    }
    
    #ekaru {
        height: 12vw;
    }

    #echoAR {
        height: 12vw;
    }

    #fluidstack {
        height: 13vw;
    }

    #balsamiq {
        height: 15vw;
    }

    #ktbyte {
        height: 17vw;
    }

    #replit {
        height: 15vw;
    }

    #aws {
        height: 18.5vw;
    }

    #netapp {
        height: 12vw;
    }

    #postman {
        height: 18vw;
    }

    #wolfram {
        height: 20vw;
    }

    #amazon {
        height: 15vw;
    }
}