* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.section {
    position: relative;
    margin-top: 5vh;
}

.content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: auto;
}

.title {
    font-family: "Poppins", sans-serif;
    color: #1A144F;
    margin: auto;
    margin-bottom: 10px;
    font-size: 5vw;
    text-align: center;
}

.subtitle {
    font-family: "Rubik", sans-serif;
    color: #B4B4B4;
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    align-items: center;
    margin: 10px;
    width: 25vw;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content {
    margin: 20px;
}

.card-title {
    font-family: "Poppins", sans-serif;
    color: #1A144F;
    text-align: left;
    font-weight: bold;
}

.card-subtitle {
    font-family: "Rubik", sans-serif;
    color: #B4B4B4;
}

/** Widescreen **/
@media screen and (min-width: 1920px) {
    .title {
        font-size: 3vw;
    }
    .card {
        width: 15vw;
    }
}

/** Mobile **/
@media screen and (max-width: 768px) {
    .title {
        font-size: 10vw;
    }
    .card {
        width: 80vw;
    }
}