* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section {
    position: relative;
}

.content {
    position: relative;
}

.title {
    font-family: "Poppins", sans-serif;
    color: #1A144F;
}

.subtitle {
    font-family: "Rubik", sans-serif;
    color: #B4B4B4;
}