.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-picture {
    border-radius: 50%;
    width: 15vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    margin-left: 50px;
    margin-right: 50px;
}

.profile-picture:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.profile-name {
    font-family: "Poppins", sans-serif;
    color: #1A144F;
    font-size: 2vw;
    font-weight: bold;
}

.description {
    font-family: "Rubik", sans-serif;
    color: #B4B4B4;
    font-size: 1.2vw;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .profile-picture {
        width: 40vw;
    }
    .profile {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 20px
    }
    .profile-name {
        font-size: 6vw;
    }
    .description {
        font-size: 5vw;
    }
}

/* Widescreen */
@media screen and (min-width: 1920px) {
    .profile-picture {
        width: 10vw;
    }
    .profile-name {
        font-size: 1vw;
    }
    .description {
        font-size: 0.7vw;
    }
}