.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.profile-picture {
    border-radius: 50%;
    width: 10vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
}

.profile-picture:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.profile-name {
    font-family: "Poppins", sans-serif;
    color: #1A144F;
    font-size: 2vw;
    font-weight: bold;
}

.description {
    font-family: "Rubik", sans-serif;
    color: #B4B4B4;
    font-size: 1.2vw;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .profile-picture {
        width: 30vw;
    }
    .profile {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 10px
    }
    .profile-name {
        font-size: 3.5vw;
    }
    .description {
        font-size: 3vw;
    }
}

/* Widescreen */
@media screen and (min-width: 1800px) {
    .profile-picture {
        width: 9vw;
    }
    .profile-name {
        font-size: 1.3vw;
    }
    .description {
        font-size: 0.9vw;
    }
}