.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.profile-picture {
    border-radius: 50%;
    width: 10vw;
}

.profile-name {
    font-family: "Poppins", sans-serif;
}

.description {
    font-family: "Rubik", sans-serif;
    color: #B4B4B4;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .profile-picture {
        width: 25vw;
    }
}

/* Widescreen */
@media screen and (max-width: 1920px) {
    .profile-picture {
        width: 15vw;
    }
}