#top {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-image: linear-gradient(to bottom right, #48C8FB, #8D86DA);
    color: white;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
    font-size: 18px;
    transition-duration: 0.4s;
}